$white: rgb(255, 255, 255);
$transparent-white: rgba(255, 255, 255, 0.4);
$black: rgb(0, 0, 0);
$transparent-black: rgba(0, 0, 0, .4);
$light-gray: rgb(230, 230, 230);

$light-blue: rgb(162, 202, 232);
$pale-blue: rgb(75, 150, 179);
$midnight-blue: rgb(10, 79, 110);
$dark-blue: rgb(61, 61, 76);

$dark-teal: rgb(29, 91, 119);
$green-grad: linear-gradient(to bottom, #8BC0B8, #829657 50%);
