$white: rgb(255, 255, 255);
$transparent-white: rgba(255, 255, 255, 0.4);
$black: rgb(0, 0, 0);
$transparent-black: rgba(0, 0, 0, .4);
$light-gray: rgb(230, 230, 230);

$dark-blue: rgb(61, 61, 76);

$light-blue: rgb(162, 202, 232);

$dark-teal: rgb(29, 91, 119);
