
@mixin font-alpha {
  font-size: 3.5rem;
  line-height: 3rem;
}

@mixin font-beta {
  font-size: 2.5rem;
  line-height: 2rem;
}

@mixin font-gamma {
  font-size: 2rem;
  line-height: 1.75rem;
}

@mixin font-delta {
  font-size: 1.25rem;
  line-height: 1.35rem;
}

@mixin font-epsilon {
  font-size: 1rem;
  line-height: 1rem;
}

h1 {
  @include font-alpha;
}

h2 {
  @include font-gamma;
}
