@import "@/styles/_globals.scss";

.intro {
  &__card {
    position: absolute;
    top: 6rem;
    left: 8rem;
    text-align: left;
    z-index: 9;

    &_bar {
      display: block;
      height: .35rem;
      margin: 2rem 0;
      border: none;
      background-color: $darker-blue;
    }

    &_text {
      @include font-alpha;
    }

    &_sub {
      opacity: 0;

      &--show {
        opacity: 1;
        transition: opacity linear 500ms;
      }
    }
  }

  &__pete-nelson {
    height: 11rem;

    .cls-1{
      fill: $light-gray;
    }
    .cls-2,.cls-3,.cls-4{
      fill: none;
      stroke: $light-gray;
      stroke-miterlimit: 10;
    }
    .cls-2{stroke-width:1.25rem;}
    .cls-3{stroke-width:1rem;}
    .cls-4{stroke-width:1.125rem}
  }

  &__cloud {
    z-index: 2;
    position: absolute;
    width: 25%;
    height: 25%;
    opacity: .6;

    & path {
      fill: $dark-blue;
    }

    &--1 {
      right: 25%;
    }
    &--2 {
      top: 19%;
      right: -3%;
    }
  }
  &__moon {
    z-index: 1;
    position: absolute;
    top: 10%;
    right: 15%;
    width: 20%;
    height: 20%;
  }
  &__moon_back {
    position: absolute;
    width: 95%;
    height: 95%;
    top: -27.5%;
    right: -22.5%;
    opacity: 0;

    &--hide {
      opacity: 0;
      transition: opacity linear 300ms;
    }
    &--show {
      opacity: 1;
      transition: opacity linear 300ms;
    }
  }
  &__sky_line {
    position: absolute;
    right: 0;
    bottom: -6vw;
    width: 100%;
  }
  &__sky_line--1 {
    z-index: 13;
    & path {
      fill: $dark-blue;
    }
  }
  &__sky_line--2 {
    z-index: 12;
    bottom: -5.5vw;
    & path {
      fill: $darker-blue;
    }
  }
  &__sky_line--3 {
    z-index: 11;
    bottom: -5vw;
    & path {
      fill: $darkest-blue;
    }
  }
}
