@import "@/styles/_globals.scss";

.section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (min-width: $breakpoint-sm) {
  .one-page-scroll {
    height: 0;
    overflow: hidden;
  }

  .section {
    z-index: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .body--intro {
    .section:nth-child(1) {
      z-index: 100;
    }
  }

  .body--mountains {
    .section:nth-child(2) {
      z-index: 100;
    }
  }
}
