@import "@/styles/_globals.scss";

$bar-width: $spacing-unit-x4;
$bar-height: 2px;
$bar-spacing: 8px;

.nav-bar {
  background-color: $transparent-black;
  position: fixed;
  z-index: 200;
  top: 0;
  width: 100%;
  height: $spacing-unit-x4;
  overflow: visible;

  &__menu {
    position: absolute;
    right: 0;
    margin: $spacing-unit $spacing-unit-x4;
    width: $bar-width;
    height: calc(#{$bar-height} + (#{$bar-spacing} * 2));
    cursor: pointer;
  }

  &__menu-hamburger,
  &__menu-hamburger:after,
  &__menu-hamburger:before {
    width: $bar-width;
    height: $bar-height;
  }

  &__menu-hamburger {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;

    &--open {
      background: rgba(255, 255, 255, 0);
    }
  }

  &__menu-hamburger:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__menu-hamburger:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &__menu-hamburger--open:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

  &__menu-hamburger--open:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
  }

  &__menu-body {
    position: absolute;
    top: $spacing-unit-x3;
    right: -2rem;
    overflow: hidden;
    width: 10rem;

    &--open {
      opacity: 1;
      height: 10rem;
      transition: all linear 300ms;

      ul {
        top: 0;
        transition: top linear 300ms;
      }
    }

    &--close {
      opacity: 0;
      height: 0;
      transition: all linear 500ms;

      ul {
        top: -50px;
        transition: top linear 500ms;
      }
    }

    ul {
      position: absolute;
      right: 0;
    }
    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    a {
      display: block;
      color: $white;
      background-color: $transparent-black;
      padding: $spacing-unit $spacing-unit-x4 $spacing-unit-x2 $spacing-unit-x3;
    }
  }
}
