@import "@/styles/_globals.scss";
.jungle {
  background-color: black;

  &__card {
    @include font-delta;
    display: block;
    position: relative;
    z-index: 20;
    color: $black;
    margin: $spacing-unit-x12 0 $spacing-unit-x16 0;
    padding: $spacing-unit;
    width: auto;
  }

  &__card_inside {
    display: block;
    position: relative;
    background-color: $white;
    padding: $spacing-unit $spacing-unit 0 $spacing-unit;
    margin-bottom: $spacing-unit-x2;

    &:last-child {
      margin-bottom: none;
    }

    & img {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    z-index: 30;
    color: $light-gray;
    display: block;
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
    margin: $spacing-unit-x3 0 $spacing-unit-x3 0;
  }

  &__back, &__trees, &__leaves {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &__back {
    &--2 {
      z-index: 3;
    }
    &--1 {
      z-index: 2;
    }
  }
  &__trees {
    z-index: 4;
    bottom: -4vw;
  }

  &__leaves {
    z-index: 12;
    bottom: -12vw;
  }

  h4 {
    margin-top: $spacing-unit-x4;
    color: $dark-teal;
  }
}

.no-back-mobile {
  background-color: transparent;
}

@media (min-width: $breakpoint-sm) {
  .jungle {
    background-color: transparent;

    &__title {
      color: $dark-green;
      position: relative;
      margin: $spacing-unit-x5 0 $spacing-unit-x2 0;
    }

    &__card {
      position: relative;
      background: transparent;
      opacity: 0;
      margin: 0;

      &--hide {
        opacity: 0;
        transition: opacity linear 200ms;
      }
      &--show {
        opacity: 1;
        transition: opacity linear 600ms;
      }
    }

    &__card_inside {
      position: absolute;
      top: 0;
      opacity: 0;
      background: transparent;
      display: table;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      & img {
        border: $transparent-white solid $spacing-unit;
        max-height: 70vh;
        width: auto;
        max-width: 90%;
      }

      &--show {
        opacity: 1;
        transition: opacity linear 500ms;
      }
      &--hide {
        opacity: 0;
        transition: opacity linear 500ms;
      }
    }
  }
}
